* {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #FFD6EC;
}

.navigation-bar {
    background-color: #FF74B1;
    padding: 20px;
    display:flex;
    justify-content: space-evenly;
}

ul>li {
    list-style-type: none;
}

li a{
    color: black;
    font-size: 20px;
}

div {
    background-color: #FFD6EC;
    width: 300px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;

}

input[type=text] {
    background-color: #FFD6EC ;
    width: 60%;
    padding: 22px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

a:hover {
    color: white;
}

button {
    background-color: #A7FFE4; 
}
Footer{
    background-color: #FF74B1;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
 }
 