* {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #FFD6EC;
}

.navigation-bar {
    background-color: #FF74B1;
    padding: 20px;
    display:flex;
    justify-content: space-evenly;
}

ul>li {
    list-style-type: none;
}

li a{
    color: black;
    font-size: 20px;
}

a:hover {
    color: white;
}

div {
    padding: 100px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-direction: column;
    font-size: 50px;
}


footer{
    background-color: #FF74B1;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
 }
 